/* Custom Styles For FS Hackathon Challenge */

:root {
  --gradient-colour-1: #eb5757;
  --gradient-colour-2: #d59152;
}

/* ========= Typography ========= */

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: 'Catamaran', sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/* ========= Helper Method(s) ========= */
.hidden-small {
  display: none;
}

@media (min-width: 768px) {
  .visible-medium {
    display: block;
  }

  .hidden-medium {
    display: none;
  }
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1150px;
}

/* ========= Header Styles ========= */
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

header a {
  font-size: 0.875rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  header {
    padding: 1rem 1.5rem;
  }

  header a {
    color: #fff;
    font-size: 0.7rem;
  }

  header ul li {
    display: inline-block;
  }

  header ul li + li {
    margin-left: 20px;
  }

  .authentication {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 20px;
    border-radius: 20px;
  }

  .authentication li + li {
    margin: 0;
  }

  .authentication li:nth-child(1)::after {
    content: '/';
    color: #fff;
    font-size: 14px;
  }
}

/* ========= Mobile Menu ========= */
.mobile-menu {
  position: relative;
}

.mobile-menu a {
  display: inline-block;
}

.mobile-menu .hamburger {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fafafa;
  border-radius: 3px;
}

.mobile-menu ul {
  width: 170px;
  border: 1px solid #dedede;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  right: 0;
  transform: translateY(-30px);
  transition: all 0.2s ease-in;
  opacity: 0;
  z-index: -1;
}

.mobile-menu ul::before {
  content: '';
  display: block;
  border: transparent 10px solid;
  border-bottom-color: #fff;
  height: 20px;
  width: 20px;
  position: absolute;
  top: -18px;
  right: 5px;
}

.mobile-menu ul.show-menu {
  transform: translateY(0);
  opacity: 1;
  z-index: 1;
}

.mobile-menu li {
  padding: 5px 10px;
}

.mobile-menu li:nth-child(4) {
  border-top: 1px solid #fafafa;
}

.mobile-menu li a {
  color: #bdbdbd;
}

/* ========= Main Styles ========= */

/* ========= Header ========= */
.hero-header {
  margin-top: -80px;
  background: linear-gradient(
    180deg,
    var(--gradient-colour-1) 0%,
    var(--gradient-colour-2) 100%
  );
}

.hero-header h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  line-height: 1.2;
  padding: 110px 20px;
}

@media (min-width: 768px) {
  .hero-header {
    margin-top: -90px;
  }

  .hero-header h2 {
    padding: 140px 95px;
  }
}

@media (min-width: 1024px) {
  .hero-header h2 {
    font-size: 3.2rem;
    padding: 190px 140px 140px;
  }
}

@media (min-width: 1093px) {
  .hero-header h2 {
    padding-left: 170px;
    padding-right: 170px;
  }
}

.hero-header p {
  color: #fff;
  text-align: center;
}

/* ========= Search ========= */
.search {
  margin-top: -4.25rem;
  margin-bottom: 6rem;
  text-align: center;
}

.search p {
  color: #fff;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .search p {
    font-size: 1.2rem;
  }
}

.search input {
  width: 90%;
  font-size: 0.8rem;
  font-family: 'Catamaran', sans-serif;
  text-align: center;
  background-color: #fff;
  border-radius: 1.8rem;
  border: 0.1875rem solid #f2994a;
  padding: 1rem 1.25rem;
}

.search input::placeholder {
  color: #c3c0c0;
}

@media (min-width: 768px) {
  .search {
    margin-top: -4.5rem;
  }

  .search input {
    width: 70%;
    border-radius: 2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .search input {
    width: 55%;
  }
}

/* ========= About ========= */
.about {
  margin-bottom: 3rem;
}

.about h2 {
  color: #c3c0c0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about p {
  color: #000;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.8;
}

@media (min-width: 1024px) {
  .about {
    margin-bottom: 5rem;
  }
  .about p {
    max-width: 800px;
    margin: 0 auto;
  }

  .about h2 {
    margin-bottom: 60px;
  }
}

/* ========= Places ========= */
.places {
  margin-bottom: 60px;
  text-align: center;
}

@media (min-width: 768px) {
  .places {
    margin-bottom: 120px;
  }
}

.places ul li {
  display: inline-block;
  margin-bottom: 15px;
  height: 400px;
  width: 100%;
  max-width: 350px;
  position: relative;
  background-color: rgba(4, 4, 4, 0.5);
  border-radius: 3px;
}

.places ul li:nth-child(1),
.places ul li:nth-child(2),
.places ul li:nth-child(3) {
  background-position: 0 0;
  background-repeat: no-repeat;
}

.places ul li:nth-child(1) {
  background-image: url('https://res.cloudinary.com/ayodeleopetumo/image/upload/b_rgb:000000,c_fill,f_auto,g_center,h_400,o_90,w_350/v1511872313/manuel-moreno-39516_atsfli.jpg');
}
.places ul li:nth-child(2) {
  background-image: url('https://res.cloudinary.com/ayodeleopetumo/image/upload/b_rgb:000000,c_fill,f_auto,g_center,h_400,o_90,w_350/v1511872449/nitin-garg-327400_lgnbar.jpg');
}
.places ul li:nth-child(3) {
  background-image: url('https://res.cloudinary.com/ayodeleopetumo/image/upload/b_rgb:000000,c_fill,f_auto,g_center,h_400,o_90,w_350/v1511872315/gabriel-gurrola-125352_f5usyl.jpg');
}

.places ul li div {
  text-align: left;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

.places ul li p:nth-child(1) {
  color: #fff;
  font-size: 2rem;
}

.places ul li p:nth-child(2) {
  color: #d78e52;
  font-size: 1.125rem;
}

.places a {
  display: inline-block;
  color: #e46f55;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: 2px solid #e36f55;
  border-radius: 30px;
  background-color: #fff;
  padding: 15px 45px;
}

@media (min-width: 1024px) {
  .places ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
  }

  .places ul li + li {
    margin-left: 5px;
    margin-bottom: 0;
  }

  .places ul li p:nth-child(1) {
    font-size: 1.6rem;
  }

  .places ul li p:nth-child(2) {
    font-size: 0.9rem;
  }
}

/* ========= Blog ========= */
.blog {
  padding: 3.125rem;
  background: url('http://res.cloudinary.com/ayodeleopetumo/image/upload/c_fill,f_auto,g_center,h_500,w_2100/v1511872310/charlie-costello-301722_j4l2vp.jpg')
    center no-repeat;
  background-size: cover;
  position: relative;
}

.blog .container {
  position: relative;
  z-index: 1;
}

.blog::before {
  content: '';
  width: 18rem;
  height: 100%;
  display: inline-block;
  background: linear-gradient(
    180deg,
    var(--gradient-colour-1) 0%,
    var(--gradient-colour-2) 100%
  );
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  position: absolute;
  left: 0;
  top: 0;
}

.blog h2 {
  font-size: 0.875rem;
  color: #febe61;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.blog h3 a {
  color: #fff;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .blog {
    padding: 5rem;
  }

  .blog::before {
    width: 22rem;
  }

  .blog h3 a {
    font-size: 2.65rem;
  }
}

@media (min-width: 1024px) {
  .blog {
    padding: 7.5rem;
  }

  .blog::before {
    width: 28rem;
  }

  .blog h3 a {
    font-size: 3.2rem;
  }
}

@media (min-width: 1450px) {
  .blog::before {
    width: 34.5rem;
  }
}

/* ========= Footer ========= */
.footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer a,
.footer p {
  color: #a9a9a9;
  margin-bottom: 10px;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .footer a,
  .footer p {
    margin-bottom: 0;
    font-size: 0.7rem;
  }
}
